In [63]:
# Dependencies
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import pandas as pd
import datetime as dt

In [64]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [65]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [80]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 

results = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 6)

In [81]:
#  3. Convert the June temperatures to a list.
results = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 6).all()

In [82]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df = pd.DataFrame(results, columns=['date', 'temperatures'])
df.set_index(df['date'], inplace=True)

In [83]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df.describe()

       temperatures
count   1700.000000
mean      74.944118
std        3.257417
min       64.000000
25%       73.000000
50%       75.000000
75%       77.000000
max       85.000000

## D2: Determine the Summary Statistics for December

In [91]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_results = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 12)

In [92]:
# 7. Convert the December temperatures to a list.
dec_results = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date) == 12).all()

In [93]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_df = pd.DataFrame(dec_results, columns=['date', 'temperatures'])
dec_df.set_index(df['date'], inplace=True)

ValueError: Length mismatch: Expected 1517 rows, received array of length 1700

In [90]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_df.describe()

       temperatures
count   1517.000000
mean      71.041529
std        3.745920
min       56.000000
25%       69.000000
50%       71.000000
75%       74.000000
max       83.000000